@use "./splitter.scss" as *;

.illusCont {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.bigText {
  text-align: center;
  width: 100%;
  position: relative;
  .bckCode {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    fill: $prime-color;
    opacity: 0.1;
  }
  span {
    font-size: 3rem;
    display: block;
    font-weight: $fnt-wgt-sbold;
    font-family: $nxt-font;
  }
}
